<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>883602804419-j362imohgu0u620348fihidgunbrid1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883602804419-j362imohgu0u620348fihidgunbrid1q</string>
	<key>API_KEY</key>
	<string>AIzaSyAz2Ae8uGSFucI-6rEAB7U99rwHjVpPt6U</string>
	<key>GCM_SENDER_ID</key>
	<string>883602804419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demo.nico.FirebaseCarthageTest3</string>
	<key>PROJECT_ID</key>
	<string>fir-carthagedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-carthagedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883602804419:ios:002a57e935587a94</string>
	<key>DATABASE_URL</key>
	<string>https://fir-carthagedemo.firebaseio.com</string>
</dict>
</plist>